.header {
  padding: 3em 0 2em;
  text-align: center;
  border-bottom: 3px solid var(--clr-main);

  &__logo {
    width: 70%;
    max-width: 500px;
  }

  &__nav-bar {
    display: flex;
    gap: 2em;
    justify-content: center;
    margin-top: 4em;
    padding-left: 0;
  }

  &__link {
    list-style-type: none;
  }
}
