.recipes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  padding: 2em 0;

  &__btns {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 1.5em;

    & p {
      margin: 0;
    }
  }
}
